@tailwind base;
@tailwind components;
@tailwind utilities;


.header, .footer{
    background-color: #d1d5db;
}

.footer{
    margin-top: 60px;
}

.header{
    margin-bottom: 60px;
}
.tableInfo{
    margin: 10px 50px;
}